anytree==2.8.0
appdirs==1.4.4
asgiref==3.5.2
boto3==1.24.87
botocore==1.27.87
bs4==0.0.1
cachetools==5.2.0
certifi==2022.9.24
colorama==0.4.6
cssselect==1.2.0
Django==4.1.2
django-cors-headers==3.13.0
django-resized==1.0.2
django-storages==1.13.1
fake-useragent==0.1.14
gunicorn==20.1.0
importlib-metadata==5.0.0
jmespath==1.0.1
johnnydep==1.15
Markdown==3.4.1
oyaml==1.0
packaging==21.3
parse==1.19.0
Pillow==9.2.0
pkginfo==1.8.3
psycopg2-binary==2.9.3
pyee==8.2.2
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
python-dateutil==2.8.2
python-dotenv==0.21.0
PyYAML==6.0
requests-html==0.10.0
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
structlog==22.1.0
tabulate==0.9.0
toml==0.10.2
tqdm==4.64.1
urllib3==1.26.12
w3lib==2.0.1
websockets==10.4
whitenoise==6.2.0
wimpy==0.6
zipp==3.10.0
