{% extends 'main.html' %}

{% block content %}
<h1>Reset password</h1>

<form method="POST">
    {% csrf_token %}
    <div class="form-field-wrapper">

       <label> Password </label> 
       <input type="password" name="password"/>
    </div>
 
    <div class="form-field-wrapper">

       <label> Re-enter Password </label> 
       <input type="password" name="password"/>
    </div>
    
    <div class="form-field-wrapper">
       <input class="btn btn--primary" type="submit" value="Change password" />
    </div>
</form>



{% endblock content %}