{% extends 'main.html' %}

{% block content %}

    <h1>{{event.name}}</h1>

    <div id="event--action--wrapper">
         {% if registered %}   
              <p>You have already registered for this event</p> 
         {% else %}
             <a class="btn btn--primary" href="{% url 'registration-confirmation' event.id %}">Register</a>
         {% endif %}
         
         
         {% if submitted %}   
              <p>You have already submitted your project</p> 
         {% else %}
         <a class="btn btn--primary" href="{% url 'project-submission' event.id %}">Submit Project </a>
         {% endif %}
    </div>

    <p>{{event.description}}</p>

    <div>
        <h3>Event Participants </h3>
       <div>
            {% for user in event.participants.all %}
                <div>
                     <strong>{{user.name}}</strong>
                </div>
            {% endfor %}
       </div>
    </div>
{% endblock content %}


